@model RentAMovie.Models.Customer
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer Details base on id</h2>

<ul>
    
    <li>
     Customer Id :   @Model.Id
    </li>
    <li>
     Customer Name :   @Model.Name
    </li>
    <li>
     DOB :   @Model.DateOfBirth
    </li>

</ul>